startup_eval_workflow.json
{
  "name": "Startup Evaluation Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "startup-eval",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node_webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [180, 300],
      "webhookId": "startup-eval-webhook"
    },
    {
      "parameters": {
        "url": "https://api.crunchbase.com/api/v4/entities/organizations/{{$json.startup_name}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-cb-user-key", "value": "{{$env.CRUNCHBASE_API_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "node_crunchbase",
      "name": "Crunchbase Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [420, 180]
    },
    {
      "parameters": {
        "url": "https://nubela.co/proxycurl/api/linkedin/company",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.PROXYCURL_API_KEY}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "url", "value": "{{$json.website}}" }
          ]
        },
        "options": {}
      },
      "id": "node_linkedin",
      "name": "LinkedIn Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [420, 420]
    },
    {
      "parameters": {
        "url": "={{$json.website}}",
        "options": {}
      },
      "id": "node_scrape",
      "name": "Website Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [420, 600]
    },
    {
      "parameters": {
        "dataPropertyName": "data",
        "extractionValues": {
          "values": [
            {
              "key": "page_title",
              "cssSelector": "title",
              "returnValue": "text"
            },
            {
              "key": "meta_description",
              "cssSelector": "meta[name='description']",
              "returnValue": "attribute",
              "attribute": "content"
            },
            {
              "key": "h1_text",
              "cssSelector": "h1",
              "returnValue": "text"
            },
            {
              "key": "h2_text",
              "cssSelector": "h2",
              "returnValue": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "node_html_extract",
      "name": "HTML Extract",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [660, 600]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "node_merge",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json;\n\nconst startup_name = data.startup_name || 'Unknown';\nconst website = data.website || '';\nconst page_title = data.page_title || '';\nconst meta_desc = data.meta_description || '';\nconst h1 = data.h1_text || '';\nconst funding = data.funding_total?.value_usd || 'Unknown';\nconst founded = data.founded_on?.value || 'Unknown';\nconst employees = data.num_employees_enum || 'Unknown';\nconst investors = (data.investors || []).slice(0, 3).join(', ') || 'Unknown';\nconst founder_companies = data.experience?.slice(0, 2).map(e => e.company?.name).filter(Boolean).join(', ') || 'Unknown';\n\nconst prompt = `You are a startup evaluation expert for a Fortune 100 corporate innovation team.\n\nEvaluate the following startup and return ONLY a valid JSON object — no prose, no markdown, no code fences.\n\nStartup: ${startup_name}\nWebsite: ${website}\nPage Title: ${page_title}\nMeta Description: ${meta_desc}\nH1: ${h1}\nTotal Funding: $${funding}\nFounded: ${founded}\nEmployee Count: ${employees}\nKey Investors: ${investors}\nFounder Background: ${founder_companies}\n\nReturn this exact JSON structure:\n{\n  \"summary\": \"3 sentences: problem they solve, how they solve it, what makes them different\",\n  \"scores\": {\n    \"team\": <0-20>,\n    \"market_size\": <0-20>,\n    \"product_differentiation\": <0-20>,\n    \"traction_signals\": <0-20>,\n    \"strategic_fit\": <0-20>\n  },\n  \"total_score\": <sum of scores>,\n  \"recommendation\": \"Strong Consider\" | \"Consider\" | \"Pass\",\n  \"demo_questions\": [\n    \"Question 1\",\n    \"Question 2\",\n    \"Question 3\"\n  ],\n  \"red_flags\": \"Any concerns worth noting, or null\"\n}`;\n\nreturn [{ json: { prompt, startup_name, website } }];"
      },
      "id": "node_build_prompt",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "{{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-3-5-sonnet-20241022"
            },
            {
              "name": "max_tokens",
              "value": "1000"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"{{$json.prompt}}\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "node_claude_api",
      "name": "Claude AI Evaluation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1280, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.all()[0].json;\nconst rawText = response.content[0].text;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (e) {\n  const match = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    parsed = JSON.parse(match[0]);\n  } else {\n    throw new Error('Could not parse AI response: ' + rawText);\n  }\n}\n\nconst total = parsed.total_score || \n  (parsed.scores.team + parsed.scores.market_size + parsed.scores.product_differentiation + \n   parsed.scores.traction_signals + parsed.scores.strategic_fit);\n\nlet bucket = 'Archive';\nif (total >= 70) bucket = 'Shortlist';\nelse if (total >= 50) bucket = 'Watch';\n\nreturn [{\n  json: {\n    ...parsed,\n    total_score: total,\n    bucket,\n    startup_name: $('Webhook Trigger').first().json.startup_name,\n    website: $('Webhook Trigger').first().json.website,\n    processed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node_parse_score",
      "name": "Parse Score + Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.total_score}}",
              "operation": "largerEqual",
              "value2": 70
            }
          ]
        }
      },
      "id": "node_if_shortlist",
      "name": "Is Shortlist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1720, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "value": "{{$env.GOOGLE_SHEET_ID}}", "mode": "id" },
        "sheetName": { "value": "Pipeline", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Startup Name": "={{$json.startup_name}}",
            "Website": "={{$json.website}}",
            "Total Score": "={{$json.total_score}}",
            "Team": "={{$json.scores.team}}",
            "Market Size": "={{$json.scores.market_size}}",
            "Product Differentiation": "={{$json.scores.product_differentiation}}",
            "Traction Signals": "={{$json.scores.traction_signals}}",
            "Strategic Fit": "={{$json.scores.strategic_fit}}",
            "Summary": "={{$json.summary}}",
            "Recommendation": "={{$json.recommendation}}",
            "Demo Q1": "={{$json.demo_questions[0]}}",
            "Demo Q2": "={{$json.demo_questions[1]}}",
            "Demo Q3": "={{$json.demo_questions[2]}}",
            "Red Flags": "={{$json.red_flags}}",
            "Bucket": "={{$json.bucket}}",
            "Processed At": "={{$json.processed_at}}"
          }
        },
        "options": {}
      },
      "id": "node_sheets",
      "name": "Write to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1940, 420]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "value": "#startup-pipeline", "__rl": true, "mode": "name" },
        "text": "=*🚀 New Shortlist: {{$json.startup_name}}*\n\n*Score:* {{$json.total_score}}/100 | *Recommendation:* {{$json.recommendation}}\n\n*Summary:* {{$json.summary}}\n\n*Top Demo Question:* {{$json.demo_questions[0]}}\n\n<{{$json.website}}|View Website>",
        "options": {}
      },
      "id": "node_slack",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1940, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"processed\", \"startup\": \"{{$json.startup_name}}\", \"score\": {{$json.total_score}}, \"recommendation\": \"{{$json.recommendation}}\"}"
      },
      "id": "node_respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2160, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Crunchbase Enrichment", "type": "main", "index": 0 },
          { "node": "LinkedIn Enrichment", "type": "main", "index": 0 },
          { "node": "Website Scrape", "type": "main", "index": 0 }
        ]
      ]
    },
    "Crunchbase Enrichment": {
      "main": [[{ "node": "Merge Data", "type": "main", "index": 0 }]]
    },
    "LinkedIn Enrichment": {
      "main": [[{ "node": "Merge Data", "type": "main", "index": 1 }]]
    },
    "Website Scrape": {
      "main": [[{ "node": "HTML Extract", "type": "main", "index": 0 }]]
    },
    "HTML Extract": {
      "main": [[{ "node": "Merge Data", "type": "main", "index": 2 }]]
    },
    "Merge Data": {
      "main": [[{ "node": "Build AI Prompt", "type": "main", "index": 0 }]]
    },
    "Build AI Prompt": {
      "main": [[{ "node": "Claude AI Evaluation", "type": "main", "index": 0 }]]
    },
    "Claude AI Evaluation": {
      "main": [[{ "node": "Parse Score + Route", "type": "main", "index": 0 }]]
    },
    "Parse Score + Route": {
      "main": [[{ "node": "Is Shortlist?", "type": "main", "index": 0 }]]
    },
    "Is Shortlist?": {
      "main": [
        [
          { "node": "Slack Notification", "type": "main", "index": 0 },
          { "node": "Write to Google Sheets", "type": "main", "index": 0 }
        ],
        [
          { "node": "Write to Google Sheets", "type": "main", "index": 0 }
        ]
      ]
    },
    "Write to Google Sheets": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Slack Notification": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Automates startup evaluation by enriching company data via Crunchbase + LinkedIn + web scraping, synthesising a structured brief using Claude AI, scoring on 5 dimensions, routing to Shortlist/Watch/Archive, writing results to Google Sheets, and alerting Slack for high-scoring startups.",
    "author": "Nithin Rajmohan",
    "version": "1.0.0"
  }
}
